{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <H1>This is the only about page</H1>

            This is some text.
            <H3>This is an h3</H3>

        </div>
    </div>
</div>
{{end}}
